
/*body*/
.body{
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}
/*nav the position both picture and welcome text*/
nav {
  display: flex;
  align-items: center;
  padding: 40px 8%;
}
/*logo css*/
nav .menu-img {
width: 100px;
margin-right: 90px;
cursor: pointer;

}
/*menu Home, About Intresting*/
nav ul {
  flex: 1;
  text-align: right;
}
/*menu style*/
nav li {
  display: inline-block;
  list-style: none;
  margin: 0 59px;
}
/*menu-color*/
nav ul li a {
  text-decoration: none;
  color: #ffffffff;
}
/*menu-style*/
ul li a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #B00020;
}
/*menu-hover*/
ul li a:hover{
  color: skyblue;
}

/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* services footer and ser-conteiner code display*/
 .services, footer{
    font-family: 'Poppins', sans-serif;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* Intresting disply text-font*/
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

/* interesting section styling */
.services {
    color:#fff;
    background: #111;
}
.services .title::before,
.title::before{
    background: #fff;
}
/* layout for "What I aprovide"*/
.services .title::after,
.title::after{
    background: #111;
    content: "what i provide";
}
/* text-card codes*/
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* hover color of my text-card*/
.services .serv-content .card:hover{
    background: crimson;
}
/* scale for each text-card*/
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
/* hover card-color for (i )tag*/
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* skills section styling */
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
 .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    background: crimson;
}
.card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.card:hover .box{
    transform: scale(1.05);
}
.card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    
   .text-2{
        font-size: 70px;
    }
    .text-3{
        font-size: 35px;
    }

    .max-width{
        max-width: 930px;
    }

    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

}
/* max-width for my Intresting-layout*/
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
   .text-2{
        font-size: 60px;
    }
    .text-3{
        font-size: 32px;
    }

    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
     .text-2{
        font-size: 50px;
    }
   .text-3{
        font-size: 27px;
    }
    .text,
    .text{
        font-size: 19px;
    }
