
/*body*/
.body{
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

div {
    display: inline-block;
}

/*nav the position both picture and welcome text*/
nav {
  display: flex;
  align-items: center;
  padding: 40px 8%;
}
/*logo css*/
nav .menu-img {
width: 100px;
margin-right: 90px;

}
/*menu Home, About Intresting*/
nav ul {
  flex: 1;
  text-align: right;
}
/*menu style*/
nav li {
  display: inline-block;
  list-style: none;
  margin: 0 59px;
}
/*menu-color*/
nav ul li a {
  text-decoration: none;
  color: #ffffffff;
}
/*menu-style*/
ul li a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #B00020;
}
/*menu-hover*/
ul li a:hover{
  color: skyblue;
}

.rod-img {
  position: static;
  top: -60;
  left: 20%;
  padding: 16px;
}
/* rod-img code*/
.rod-img img {
  border-radius: 0px;
  width: 300px;
  box-shadow: 10px 10px 5px #ccc;
     -moz-box-shadow: 10px 10px 5px #ccc;
     -webkit-box-shadow: 10px 10px 5px #ccc;
     -khtml-box-shadow: 10px 10px 5px #ccc;
 background-repeat: no-repeat;
}
/* width for rod-img*/
.rod {
  max-width: 100px;
}
/*JS-welcome text*/
.text-conteiner {
  min-width: 100px;
  margin: auto;
  padding: 10px 8%;
  text-align: center;
}
/*conteiner for my h2 text*/
.text-conteiner h2{
  min-width: 100px;
}
