/*body*/
.body{
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

/*menu-position*/
nav {
  display: flex;
  align-items: center;
  padding: 40px 8%;
}
/*logo css*/
nav .menu-img {
width: 100px;
margin-right: 90px;
cursor: pointer;
}
/*menu Home, About Intresting*/
nav ul {
  flex: 1;
  text-align: right;
}

/*menu style*/
nav li {
  display: inline-block;
  list-style: none;
  margin: 0 59px;
}

/*menu-color*/
nav ul li a {
  text-decoration: none;
  color: #ffffffff;
}
/*menu-style*/
ul li a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: gray;
}

/*menu-hover*/
ul li a:hover{
  color: skyblue;
}
