

.body{
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}

nav .menu-img {
width: 100px;
margin-right: 90px;
cursor: pointer;

}

nav ul {
  flex: 1;
  text-align: right;
}

nav li {
  display: inline-block;
  list-style: none;
  margin: 0 59px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffffff;
}

.rod-img {
  position: absolute;
  top: -50;
  left: 22%;
  width: 0px;
}

.rod-img img {
  border-radius: 30px;
  width: 160px;
}
.rod {
  width: 100px;
}

.text-conteiner {
  max-width: 400px;
  margin-left: 35%;
  padding: 20px 8%;
}

.text-conteiner h1{
  font-size: none;
  font-weight: 400px;
}
